@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*-------------------------------- END ----*/
body{
    margin-bottom: 50px;
}
#sidebar-container{
    flex-grow: 0;
    display: inline-block;
    min-height: 100%;
    background-color: #626262;
    padding: 0;
    max-height: 100%;
    /* position: sticky;
    top: 70px */
    /* flex: unset; */
}

.sidebar-expanded {
    width: 320px;
}

.sidebar-collapsed {
    /*width: 60px;*/
    width: 100px;
}

/* ----------| Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* ----------| Submenu item*/
#sidebar-container .list-group li.list-group-item {
    background-color: #626262;
    color: white;

}

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* ----------| Separators */
.sidebar-separator-title {
    background-color: #626262;
    height: 35px;
}

.sidebar-separator {
    background-color: #626262;
    height: 25px;
}

.logo-separator {
    background-color: #626262;
    height: 60px;
}

a.bg-dark {
    background-color: #626262 !important;
}

#container-base{
    display: flex;
    align-items: flex-start;
}

#content{
    display: inline-block;
    width: 70%;
    height: 100vh;
    flex-grow: 1;
    flex-shrink: 0.8;
}

.menu-collapsed {
    font-size: 16px;
}
.footer{
    background-color: rgb(248, 230, 206);
    border-top: 1px rgb(114, 68, 9);
    text-align: center;
}
