{% load i18n %}
{% block content %}
<div id="approval-modal" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="display: block;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button><br>
          <h2 class="panel-title text-center">{%trans 'Request information'%}</h2>
        </div>
        <form id="approval">
            <div class="modal-body">
                <div>
                    <span>Approval: </span>
                    <select name="status" class="selection-2">
                        <option value="a">{% trans "Approve" %}</option>
                        <option value="c">{% trans "Cancel" %}</option>
                        <option value="f">{% trans "Forward" %}</option>
                        <option value="r">{% trans "Reject" %}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="float: left;" data-dismiss="modal">{%trans 'Close'%}</button>
                <button class="btn btn-success" style="float: right;" type="submit">{%trans 'Update'%}</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{%endblock%}