{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<head>
	<title>{% trans "Request form" %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css" integrity="sha512-SagM1PHxt5mWDyWARVY6UOdhM5A8J+R1UqIWcGfiwOd+be7uHQagB+JQOmfVZF8jjJQqbyuWzw/KXfb4yqjBkQ==" crossorigin="anonymous" />	
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
</head>

<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form" method="POST" action="">
      {% csrf_token %}
      <span class="contact100-form-title">
        Request form
      </span>
      <div class="wrap-input100 validate-input" data-validate = "Reason is required">
        <span class="required label-input100">{% trans "Title" %}</span>
        <input class="input100" type="text" name="title" placeholder="Enter form title">
        <span class="focus-input90"></span>
      </div>

      <div class="d-flex">
        <div class="wrap-input50">
          <span class="label-input100">{% trans "Employee name" %}</span>
          <input class="input100" type="text" name="sender" value="{{request.user.name}}" disabled="disabled">
          <span class="focus-input90"></span>
        </div>
        <div class="wrap-input50">
          <span class="label-input100">{% trans "Employee id" %}</span>
          <input class="input100" type="text" name="em_id" value="P232421" disabled="disabled">
          <span class="focus-input90"></span>
        </div>
      </div>

      <div class="d-flex">
        <div class="wrap-input50">
          <span class="label-input100">{% trans "Manager" %}</span>
          <input class="input100" type="text" name="receiver" value="{{request.user.manager.name}}" disabled="disabled">
          <span class="focus-input90"></span>
        </div>
        <div class="wrap-input50">
          <span class="label-input100">{% trans "Division" %}</span>
          <input class="input100" type="text" name="division" value="{{request.user.division}}" disabled="disabled">
          <span class="focus-input90"></span>
        </div>
      </div>

      <div class="wrap-input100 input100-select validate-form" data-validate = "Form type is required">
        <span class="label-input100">{% trans "Form type" %}</span>
        <div>
          <select id="selection" class="selection-2" name="form_type">
            {% for i in form.form_type %}
            <option>{{i}}</option>
            {% endfor %}
          </select>
        </div>
        <span class="focus-input100"></span>
      </div>

      <div id="select1" class="group-select wrap-input50 validate-input" data-validate = "Require datetime">
        <span class="required label-input100">{% trans "Checkin time" %}</span>
        <input class="input100" id="checkin" type="datetime" name="checkin_time" placeholder="Enter your checkin time...">
        <span class="focus-input100"></span>
      </div>
      <div id="select2" class="group-select wrap-input50 validate-input" data-validate = "Require datetime">
        <span class="required label-input100">{% trans "Checkout time" %}</span>
        <input class="input100" id="checkout" type="datetime" name="checkout_time" placeholder="Enter your checkout time...">
        <span class="focus-input100"></span>
      </div>
      <div id="select3" class="group-select" style="display: flex;">
        <div class="wrap-input50 validate-input" data-validate = "Require datetime">
          <span class="required label-input100">{% trans "Leave from" %}</span>
          <input class="input100" id="leavefrom" type="datetime" name="leave_from" placeholder="Enter your leave from...">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input50 validate-input" data-validate = "Require datetime">
          <span class="required label-input100">{% trans "Leave to" %}</span>
          <input class="input100" id="leaveto" type="datetime" name="leave_to" placeholder="Enter your leave to...">
          <span class="focus-input100"></span>
        </div>
      </div>

      <div class="d-flex">
        <div class="wrap-input50 validate-input" data-validate = "Require datetime">
          <span class="required label-input100">{% trans "Compensation from" %}</span>
          <input class="input100" id="com_from" type="datetime" name="compensation_from" placeholder="Enter your compensation from...">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input50 validate-input" data-validate = "Require datetime">
          <span class="required label-input100">{% trans "Compensation to" %}</span>
          <input class="input100" id="com_to" type="datetime" name="compensation_to" placeholder="Enter your compensation to..." >
          <span class="focus-input100"></span>
        </div>
      </div>
      <div class="wrap-input100 validate-input" data-validate = "Reason is required">
        <span class="required label-input100">{% trans "Reason"%}</span>
        <textarea class="input100" name="content" placeholder="Your reason here..." required></textarea>
        <span class="focus-input100"></span>
      </div>
      <div class="d-flex">
        <div class="wrap-contact20-form-btn-red">
          <a href="{% url 'my_forms'%}" class="btn" style="color: white; width: 100%;">
            {% trans "Cancel"%}
          </a>
        </div>
        <div class="wrap-contact20-form-btn-green">
          <button class="btn" style="color: white; width: 100%;" type="submit">
            <span>{% trans "Ok"%}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="dropDownSelect1"></div>
{% endblock %}

{% block js%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js" 
        integrity="sha512-pYd2QwnzV9JgtoARJf1Ui1q5+p1WHpeAz/M0sUJNprhDviO4zRo12GLlk4/sKBRUCtMHEmjgqo5zcrn8pkdhmQ==" 
        crossorigin="anonymous"></script>
<script>
  $(".selection-2").select2({
    minimumResultsForSearch: 10,
    dropdownParent: $('#dropDownSelect1')
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" 
        integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" 
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous"></script>
<script type="text/javascript">
  $("#checkin").datetimepicker({
    format:'Y-m-d H:m:s',
    });
  $("#checkout").datetimepicker({
    format:'Y-m-d H:m:s',
    });
  $("#leavefrom").datetimepicker({
    format:'Y-m-d H:m:s',
    });
  $("#leaveto").datetimepicker({
    format:'Y-m-d H:m:s',
    });
  $("#com_from").datetimepicker({
    format:'Y-m-d H:m:s',
    });
  $("#com_to").datetimepicker({
    format:'Y-m-d H:m:s',
    });
</script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}
