<!DOCTYPE html>
<html lang="en" >
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>CodePen - Bootstrap User Profile</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
                    <!--<form id="user-avatar-form" class="row" enctype="multipart/form-data" action="/vi/dashboard/users/4309/update_avatar" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="o8H8xpPz5vLx+HBtoq4ekXIphGIbiP4om6ichX80h+bZ3qrQURtaXQjgUucezfOqAMsX319tD/iBaCP8AD5JDA==">
                        <img class="height-250" id="img_prev" src="/uploads/user/avatar/4309/NGhia_678.JPG" alt="Nghia 678">
                        <input accept="image/jpeg,image/gif,image/png" class="user-form-image form-control hidden-input-file" type="file" name="user[avatar]" id="user_avatar">
                        <div class="overlay user-form-image-btn"><i class="fa fa-edit"></i></div>
                    </form>
                    -->
                    <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t1.0-9/p960x960/89949090_2604946756294010_1214865408440401920_o.jpg?_nc_cat=107&_nc_sid=85a577&_nc_ohc=XfR0vWquW9AAX8FyS5l&_nc_ht=scontent.fhan2-5.fna&_nc_tp=6&oh=e8a78bda3e491532129e86df53bf3253&oe=5F64CAFE" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Nguyễn Trọng Nghĩa
					</div>
					<div class="profile-usertitle-job">
						Developer
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="https://codepen.io/jasondavis/pen/jVRwaG?editors=1000">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
                <div class="portlet light bordered">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 37 </div>
                        <div class="uppercase profile-stat-text"> Projects </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 51 </div>
                        <div class="uppercase profile-stat-text"> Tasks </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 61 </div>
                        <div class="uppercase profile-stat-text"> Uploads </div>
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    <h4 class="profile-desc-title">About Tony Tit</h4>
                    <span class="profile-desc-text"> afterFIT Family </span>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-globe"></i>
                        <a href="https://afterfit.co.jp/">afterFIT.com</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-twitter"></i>
                        <a href="https://www.twitter.com/tonytit/">@tonytit</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-facebook"></i>
                        <a href="https://www.facebook.com/tonytit98">Tony Tit</a>
                    </div>
                </div>
           </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="toppad col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Thông tin cá nhân
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-12 col-lg-12 ">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Thông tin chung</div>
                                        <div class="panel-body">
                                            <table class="table table-hover">
                                                <tbody>
                                                <tr>
                                                    <td class="col-md-3">
                                                        <strong>
                                                            <i class="fa fa-user-o"></i> Name
                                                        </strong>
                                                    </td>
                                                    <td>Nguyen Trong Nghia</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">
                                                        <strong>
                                                            <i class="fa fa-envelope-o"></i> Email
                                                        </strong>
                                                    </td>
                                                    <td>nguyen.trong.nghia@sun-asterisk.com</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">
                                                        <strong>
                                                            <i class="fa fa-transgender"></i> Sex
                                                        </strong>
                                                    </td>
                                                    <td>Male</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">
                                                        <strong>
                                                            <i class="fa fa-birthday-cake"></i> DOB
                                                        </strong>
                                                    </td>
                                                    <td>5/15/1998</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">
                                                        <strong>
                                                            <i class="fa fa-phone"></i> Phone number
                                                        </strong>
                                                    </td>
                                                    <td>0911551998</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a data-toggle="tab" href="#working-infor">Working information</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="panel-body">
                                                <div class="tab-content">
                                                    <div id="working-infor" class="tab-pane fade in active">
                                                        <table class="table table-hover">
                                                            <tbody>
                                                            <!--
                                                            <tr>
                                                                <td class="col-md-3">
                                                                    <strong>
                                                                        <i class="fa fa-address-card-o"></i> Mã nhân viên
                                                                    </strong>
                                                                </td>
                                                                <td>N120103</td>
                                                            </tr>
                                                            -->
                                                            <tr>
                                                                <td class="col-md-3">
                                                                    <strong>
                                                                        <i class="fa fa-address-card"></i> Skill
                                                                    </strong>
                                                                </td>
                                                                <td>Leading</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-3">
                                                                    <strong>
                                                                        <i class="fa fa-address-card-o"></i> Manager name
                                                                    </strong>
                                                                </td>
                                                                <td>Do Thi Diem Thao</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-3">
                                                                    <strong>
                                                                        <i class="fa fa-address-card"></i> Position
                                                                    </strong>
                                                                </td>
                                                                <td>PR Leader</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-3">
                                                                    <strong>
                                                                        <i class="fa fa-home"></i> Division
                                                                    </strong>
                                                                </td>
                                                                <td>
                                                                    <a class="label label-warning">Naitei Intern</a>
                                                                </td>
                                                            </tr>
                                                            <!--
                                                            <tr>
                                                                <td class="col-md-3">
                                                                    <strong>
                                                                        <i class="fa fa-users"></i> Organization chart
                                                                    </strong>
                                                                </td>
                                                                <td>
                                                                    <label class="label-info label-custom">
                                                                        <a class="text-color-white" href="/vi/dashboard/groups/311/user_groups">SUN*/Vietnam education unit/Education section/Group 2/Ruby members</a>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-primary" >Đổi mật khẩu</a>
                              <!--
          <a class="btn btn-primary" href="/vi/dashboard/users/4309/edit">Chỉnh sửa thông tin cá nhân</a>
      -->
                                <a class="btn btn-primary" >Chỉnh sửa người dùng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partial -->
</body>
</html>
