
{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{%block media%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
{%endblock%}
{% block content %}
<div class="container">
  <h1 style="margin-top: 20px; text-align: center;">Time Line</h1>
  {% for item in object_list %}
  <div class="timeline-section">
    <div class="col-sm-12">
      <div class="timeline-box">
        <div class="box-title">
          <span class="timeline-date">{{item.date}}</span>
        </div>
        <div class="box-content">
          {% for event in item.events%}
          <div class="box-item"> <span style="margin-right: 10px;">{{event.time}}</span><strong style="margin-right: 10px;">{{event.event}}</strong><span>{{event.content}}</span></div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
  {% endfor%}
  <div id="timeline-anchor"></div>
</div>
{% if object_list.has_next %}
<a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
{% endif %}
{%endblock%}
{%block js%}
<script>
  var pageNum = parseInt("{{ page.number }}"); // The latest page loaded
  var hasNextPage = {{ page.has_next|lower }}; // Indicates whether to expect another page after this one
</script>
<script src="{% static 'js/timeline.js' %}"></script>
{%endblock%}
